<div
    class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0"
>
    <!-- <div class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card"> -->
    <div class="flex flex-col flex-auto w-full">
        <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
            <!-- <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0 text-center">
                <div class="w-12">
                    <img src="assets/images/logo/logo.png" />
                </div>
            </div> -->
            <div class="flex items-center justify-between w-full">
                <div _ngcontent-ntd-c51="" class="card-body">
                    <h2
                        class="text-3xl font-semibold tracking-tight leading-8 text-center"
                    >
                        ข้อกำหนด และเงื่อนไขการใช้บริการ
                    </h2>
                    <h4
                        class="text-2xl font-semibold tracking-tight leading-8 text-center"
                    >
                        บริษัท สมาร์ทแมชชีน แอนด์ ซอฟต์แวร์ จำกัด
                    </h4>
                    <div _ngcontent-ntd-c51="" class="line-height-lg mb-8">
                        <p _ngcontent-ntd-c51="">
                            &nbsp;&nbsp;&nbsp;&nbsp;เมื่อคุณทำการสอบถามข้อมูล
                            ขอรับข้อมูล หรือขอรับบริการใดๆ ของบริษัท
                            สมาร์ทแมชชีน แอนด์ ซอฟต์แวร์ จำกัด (“บริษัทฯ”)
                            โดยใช้หนึ่งในช่องทางติดต่อของบริษัทฯ
                            ทั้งช่องทางออนไลน์ (เช่น อีเมล, เว็ปไซต์, อินบ็อก,
                            แชทบ็อท, แพลตฟอร์มออนไลน์, แอพพลิเคชั่น, สื่อโซเชียล
                            และอื่นๆ) และช่องทางออฟไลน์ (เช่น โทรศัพท์ และอื่นๆ)
                            ข้อกำหนด และเงื่อนไขการใช้บริการเหล่านี้
                            (“ข้อกำหนดการใช้บริการ”)
                            รวมถึงนโยบายการคุ้มครองข้อมูลส่วนบุคคลของบริษัทฯ,
                            ข้อกำหนดและเงื่อนไขการใช้งานเว็บไซต์
                            และข้อมูลที่เป็นลายลักษณ์อักษรอื่นๆ ที่บริษัทฯ
                            ได้นำเสนอให้คุณก่อนที่บริษัทฯ
                            จะยืนยันการใช้บริการของคุณ จะมีผลบังคับใช้ทันที
                        </p>
                        <p _ngcontent-ntd-c51="">
                            &nbsp;&nbsp;&nbsp;&nbsp;บริษัทฯ ขอแนะนำให้คุณอ่าน
                            และทำความเข้าใจข้อกำหนดการใช้บริการนี้อย่างถี่ถ้วน
                            เนื่องจากมีการอธิบายถึงรายละเอียดสำคัญต่างๆ
                            และเป็นการกำหนดสิทธิ หน้าที่
                            และข้อผูกมัดแต่ละประการระหว่างคุณกับบริษัทฯ
                        </p>
                        <p _ngcontent-ntd-c51="">
                            &nbsp;&nbsp;&nbsp;&nbsp;ในข้อกำหนดการใช้บริการนี้
                            คำว่า หรือการอ้างอิงถึง "คุณ" และ "ของคุณ"
                            นั้นหมายถึงบุคคลผู้ที่มีชื่อปรากฏอยู่เป็นชื่อแรกในการติดต่อบริษัทฯ
                            เพื่อทำการสอบถามข้อมูล ขอรับข้อมูล
                            หรือขอรับบริการใดๆ และบุคคลทั้งหมดที่เป็นตัวแทน
                            เว็บไซต์นี้อยู่ในการครอบครองและควบคุมโดยบริษัท
                            สมาร์ทแมชชีน แอนด์ ซอฟต์แวร์ จำกัด
                            และเมื่อคุณทำการสอบถามข้อมูล ขอรับข้อมูล
                            หรือขอรับบริการใดๆ ของบริษัทฯ
                            การติดต่อของคุณจะอยู่ในความดูแลของบริษัทฯ
                        </p>
                        <p _ngcontent-ntd-c51="">
                            &nbsp;&nbsp;&nbsp;&nbsp;เมื่อทำการติดต่อบริษัทฯ
                            เพื่อทำการสอบถามข้อมูล ขอรับข้อมูล
                            หรือขอรับบริการใดๆ ของบริษัทฯ
                            จะถือว่าบุคคลผู้ที่มีชื่อปรากฏอยู่เป็นชื่อแรกในการติดต่อได้ให้ความยินยอมในนามของบุคคลทั้งหมดที่ระบุอยู่ในการติดต่อว่า
                            :
                        </p>
                        <p _ngcontent-ntd-c51="">
                            · เขา/เธอได้อ่าน
                            และทำความเข้าใจข้อกำหนดการใช้บริการนี้
                            พร้อมทั้งมีอำนาจ และให้ความยินยอมในการผูกมัด
                            และปฏิบัติตามข้อกำหนดการใช้บริการนี้
                        </p>
                        <p _ngcontent-ntd-c51="">
                            · เขา/เธอยินยอมให้บริษัทฯ
                            ใช้ข้อมูลโดยให้มีความสอดคล้อง
                            และเป็นไปตามนโยบายการคุ้มครองข้อมูลส่วนบุคคลของบริษัท
                        </p>
                        <p _ngcontent-ntd-c51="">
                            · เขา/เธอมีอายุมากกว่า 20 ปีบริบูรณ์
                            ไม่เป็นผู้ไร้ความสามารถ
                            หรือเสมือนไร้ความสามารถตามกฎหมาย
                            และเป็นผู้มีสิทธิทำนิติกรรมสัญญาได้สมบูรณ์ตามที่กฎหมายกำหนดโดยไม่ต้องขอความยินยอม
                            ความเห็นชอบจากบุคคล หรือองค์กรอื่นใดก่อน และ
                        </p>
                        <p _ngcontent-ntd-c51="">
                            ·
                            เขา/เธอยินดีที่จะรับผิดชอบค่าใช้จ่ายในการรับบริการใดๆ
                            ของบริษัทฯ
                            ในนามของบุคคลทั้งหมดที่ระบุอยู่ในการติดต่อบริษัทฯ
                        </p>
                        <p _ngcontent-ntd-c51="">
                            <b _ngcontent-ntd-c51="">1. วัตถุประสงค์</b>
                        </p>
                        <p _ngcontent-ntd-c51="">
                            &nbsp;&nbsp;&nbsp;&nbsp;ข้อกำหนดการใช้บริการของบริษัทฯ
                            นี้มีวัตถุประสงค์เพื่อให้ลูกค้าได้รับประสบการณ์ที่ประทับใจในการใช้บริการใดๆ
                            ของบริษัทฯ โดยบริษัทฯ
                            จะทำให้มั่นใจว่าข้อกำหนดการใช้บริการของบริษัทฯ
                            มีความถูกต้อง เป็นธรรมแก่ผู้ที่เกี่ยวข้องทุกฝ่าย
                            และสร้างความพึงพอใจสูงสุดให้ลูกค้า
                        </p>
                        <p _ngcontent-ntd-c51="">
                            <b _ngcontent-ntd-c51="">2. ขอบเขต</b>
                        </p>
                        <p _ngcontent-ntd-c51="">
                            &nbsp;&nbsp;&nbsp;&nbsp;ข้อกำหนดการใช้บริการของบริษัทฯ
                            นี้กำหนดแนวทาง และมาตรฐานการใช้บริการใดๆ
                            ทั้งหมดของบริษัทฯ ไม่ว่าการติดต่อบริษัทฯ
                            เพื่อขอใช้บริการจะเป็นการติดต่อผ่านช่องทางออนไลน์
                            (เช่น อีเมล, เว็ปไซต์, อินบ็อก, แชทบ็อท,
                            แพลตฟอร์มออนไลน์, แอพพลิเคชั่น, สื่อโซเชียล
                            และอื่นๆ) และช่องทางออฟไลน์ (เช่น โทรศัพท์ และอื่นๆ)
                        </p>
                        <p _ngcontent-ntd-c51="">
                            <b _ngcontent-ntd-c51="">3. การขอรับบริการ</b>
                        </p>
                        <p _ngcontent-ntd-c51="">
                            &nbsp;&nbsp;&nbsp;&nbsp;หากต้องการขอรับบริการใดๆ
                            ของบริษัทฯ กรุณาปฏิบัติตามข้อกำหนดการใช้บริการนี้
                            คุณจำเป็นต้องแจ้งข้อมูลบางประการที่จำเป็นแก่การรับบริการจากบริษัทฯ
                            เพื่อความปลอดภัยในการติดต่อของคุณ
                        </p>
                        <p _ngcontent-ntd-c51="">
                            &nbsp;&nbsp;&nbsp;&nbsp;กรุณาตรวจสอบรายละเอียดในการติดต่อของคุณให้ถูกต้อง
                            ก่อนแจ้งความประสงค์ในการรับบริการของคุณ บริษัทฯ
                            จะไม่รับผิดชอบต่อความล่าช้า
                            หรือการไม่ให้การปฏิบัติต่อการขอรับบริการของคุณ
                            หากคุณให้ข้อมูลที่ไม่ถูกต้องแก่บริษัทฯ
                        </p>
                        <p _ngcontent-ntd-c51="">
                            &nbsp;&nbsp;&nbsp;&nbsp;การอนุมัติการขอรับบริการของคุณ
                            และสัญญาผูกมัดระหว่างคุณกับบริษัทฯ
                            จะมีขึ้นก็ต่อเมื่อบริษัทฯ
                            ได้ออกเอกสารการยืนยันการให้บริการที่มีข้อมูลที่สมบูรณ์สำหรับใช้ในการยืนยันรายละเอียดการขอรับบริการของคุณ
                            และจากนั้นจะส่งไปยังคุณ หลังการออกใบเสร็จรับเงิน
                            หากคุณเชื่อว่ามีรายละเอียดที่ไม่ถูกต้องอยู่ในเอกสารการยืนยัน
                            หรือหากคุณต้องการให้มีการเปลี่ยนแปลง
                            กรุณาติดต่อบริษัทฯ
                            โดยทันทีเพราะการเปลี่ยนแปลงอาจไม่สามารถดำเนินการได้ในภายหลัง
                        </p>
                        <p _ngcontent-ntd-c51="">
                            &nbsp;&nbsp;&nbsp;&nbsp;บริษัทฯ
                            ขอสงวนสิทธิ์ในการปฏิเสธการขอรับบริการ
                            และปฏิเสธในการออกเอกสารการยืนยันภายใต้ดุลพินิจของบริษัทฯ
                        </p>
                        <p _ngcontent-ntd-c51="">
                            <b _ngcontent-ntd-c51=""
                                >4. ขอยกเลิกการขอรับบริการ</b
                            >
                        </p>
                        <p _ngcontent-ntd-c51="">
                            &nbsp;&nbsp;&nbsp;&nbsp;ไม่ว่าเวลาใดๆ ก่อนที่บริษัทฯ
                            จะได้ออกเอกสารการยืนยันการให้บริการส่งให้คุณ
                            คุณมีสิทธิที่จะขอยกเลิกการขอรับบริการได้เสมอ
                            โดยคุณต้องแจ้งให้บริษัทฯ
                            ทราบเป็นลายลักษณ์อักษรทางอีเมลของบริษัทฯ
                            หรือทางจดหมายส่งไปรษณีย์ลงทะเบียนถึงบริษัทฯ และเมื่อ
                            บริษัทฯ ได้รับอีเมล
                            หรือได้รับจดหมายส่งไปรษณีย์ลงทะเบียนถึงบริษัทฯ
                            จากคุณดังกล่าวแล้ว คุณจะไม่ต้องเสียค่าใช้จ่ายใดๆ
                            จากการขอยกเลิกการขอรับบริการแต่อย่างใด
                        </p>
                        <p _ngcontent-ntd-c51="">
                            &nbsp;&nbsp;&nbsp;&nbsp;อย่างไรก็ตาม ก่อนที่บริษัทฯ
                            จะได้รับอีเมล
                            หรือได้รับจดหมายส่งไปรษณีย์ลงทะเบียนถึงบริษัทฯ
                            จากคุณเพื่อแจ้งความประสงค์ขอยกเลิกการขอรับบริการตามวรรคแรก
                            หากบริษัทฯ
                            ได้ส่งเอกสารการยืนยันการให้บริการให้คุณแล้ว
                            ถือว่าสัญญาการให้บริการระหว่างคุณกับบริษัทฯ
                            เกิดขึ้นสมบูรณ์ และมีผลผูกพันระหว่างคุณกับบริษัทฯ
                            แล้ว คุณไม่สามารถยกเลิกการขอรับบริการได้
                            การขอยกเลิกการขอรับบริการอาจส่งผลให้คุณมีความรับผิดต่างๆ
                            ตามที่กฎหมายกำหนด
                        </p>
                        <p _ngcontent-ntd-c51="">
                            <b _ngcontent-ntd-c51=""
                                >5. การชำระเงินสำหรับการรับบริการของคุณ</b
                            >
                        </p>
                        <p _ngcontent-ntd-c51="">
                            &nbsp;&nbsp;&nbsp;&nbsp;เมื่อบริษัทฯ
                            ให้บริการเสร็จสิ้นครบถ้วนตามสัญญาระหว่างคุณกับบริษัทฯ
                            และคุณรับมอบงานบริการจากบริษัทฯ
                            หรือถือว่ามีการรับมอบงานบริการบริษัทฯ แล้ว
                            หน้าที่ในการชำระเงินค่าบริการ
                            และจำนวนเงินค่าบริการจะเป็นไปตามสัญญาระหว่างคุณกับบริษัทฯ
                        </p>
                        <p _ngcontent-ntd-c51="">
                            <b _ngcontent-ntd-c51=""
                                >6. การยกเลิกการรับมอบงานบริการ
                                หรือการขอคืนเงินค่าบริการ</b
                            >
                        </p>
                        <p _ngcontent-ntd-c51="">
                            &nbsp;&nbsp;&nbsp;&nbsp;เมื่อคุณรับมอบงานบริการจากบริษัทฯ
                            หรือถือว่ามีการรับมอบงานบริการบริษัทฯ แล้ว
                            คุณไม่สามารถยกเลิกการรับมอบงานบริการจากบริษัทฯ ได้
                        </p>
                        <p _ngcontent-ntd-c51="">
                            &nbsp;&nbsp;&nbsp;&nbsp;เมื่อบริษัทฯ
                            ได้ส่งมอบงานบริการให้แก่คุณ หรือผู้แทน
                            หรือถือว่าบริษัทฯ มีการส่งมอบงานบริการให้แก่คุณ
                            หรือผู้แทนแล้ว ถือว่าบริษัทฯ
                            ปฏิบัติหน้าที่ให้บริการตามเอกสารการยืนยันการให้บริการ
                            และตามสัญญาระหว่างคุณกับบริษัทฯ แล้ว บริษัทฯ
                            จึงมีสิทธิได้รับค่าบริการจากคุณตามที่กฎหมายกำหนด
                        </p>
                        <p _ngcontent-ntd-c51="">
                            &nbsp;&nbsp;&nbsp;&nbsp;เมื่อบริษัทฯ
                            ได้รับเงินค่าบริการจากคุณแล้ว บริษัทฯ
                            ขอสงวนสิทธิ์ไม่คืนเงินค่าบริการนั้นให้แก่คุณไม่ว่าในกรณีใดๆ
                        </p>
                        <p _ngcontent-ntd-c51="">
                            <b _ngcontent-ntd-c51=""
                                >7. การรับประกันผลงานการบริการ</b
                            >
                        </p>
                        <p _ngcontent-ntd-c51="">
                            &nbsp;&nbsp;&nbsp;&nbsp;แม้ว่าบริษัทฯ
                            จะสงวนสิทธิ์ไม่คืนเงินค่าบริการให้แก่คุณในทุกกรณีก็ตาม
                            หากการให้บริการที่บริษัทฯ
                            ส่งมอบให้คุณมีความชำรุดบกพร่องไม่เป็นไปตามสัญญาระหว่างคุณกับบริษัทฯ
                            บริษัทฯ
                            มีหน้าที่ต้องแก้ไขความชำรุดบกพร่องของงานให้บริการดังกล่าวให้แก่คุณ
                            โดยเป็นไปตามเงื่อนไขที่กำหนดในสัญญาระหว่างคุณกับบริษัทฯ
                        </p>
                        <p _ngcontent-ntd-c51="">
                            <b _ngcontent-ntd-c51="">8. ความถูกต้อง</b>
                        </p>
                        <p _ngcontent-ntd-c51="">
                            &nbsp;&nbsp;&nbsp;&nbsp;บริษัทฯ
                            ให้ความสำคัญในการตรวจสอบเพื่อให้แน่ใจว่าข้อมูลการให้บริการ
                            และข้อมูลทั้งหมดในเว็บไซต์
                            และสื่อทางการตลาดของบริษัทฯ มีความถูกต้อง
                            แต่อย่างไรก็ตามอาจมีการเปลี่ยนแปลง
                            และข้อผิดพลาดที่เกิดขึ้นในบางครั้ง และบริษัทฯ
                            ขอสงวนสิทธิ์ในการแก้ไขข้อมูล และรายละเอียดอื่นๆ
                            สำหรับกรณีดังกล่าว บริษัทฯ
                            ขอแนะนำให้คุณทำการตรวจสอบข้อมูล
                            และรายละเอียดปัจจุบันทั้งหมดที่เกี่ยวข้อง
                        </p>
                        <p _ngcontent-ntd-c51="">
                            <b _ngcontent-ntd-c51="">9. การร้องเรียน</b>
                        </p>
                        <p _ngcontent-ntd-c51="">
                            &nbsp;&nbsp;&nbsp;&nbsp;หากคุณต้องการที่จะร้องเรียนในการรับบริการจากบริษัทฯ
                            กรุณาแจ้งให้ผู้จัดการโครงการที่ได้รับมอบหมายจากบริษัทฯ
                            โดยทันที
                            ซึ่งจะเป็นผู้ดำเนินแก้ไขข้อผิดพลาดด้วยความอุตสาหะ
                            หากไม่สามารถดำเนินการแก้ไขได้ตามคำร้องเรียน
                            และคุณต้องการที่จะร้องเรียนเพิ่มเติม
                            คุณต้องส่งอีเมลคำร้องเรียนของคุณที่ระบุเป็นลายลักษณ์อักษรอย่างเป็นทางการให้กับบริษัทฯ
                            ที่ info@smartmachine.co.th ภายใน 3 วัน
                            นับจากวันที่เกิดเหตุบกพร่อง
                            หรือเกิดเรื่องที่จะร้องเรียน
                            โดยระบุข้อมูลที่เกี่ยวข้องทั้งหมด
                            การดำเนินการเช่นนี้จะช่วยให้บริษัทฯสามารถระบุปัญหาของคุณได้ทันท่วงที
                            และตอบกลับคุณได้อย่างรวดเร็ว
                            หากไม่ปฏิบัติตามขั้นตอนตามที่ระบุในข้อนี้
                            อาจส่งผลกระทบต่อประสิทธิภาพของบริษัทฯ
                            และผู้จัดหาที่เกี่ยวข้องในการตรวจสอบคำร้องเรียนของคุณ
                            และส่งผลกระทบต่อสิทธิของคุณภายใต้ข้อกำหนดการใช้บริการนี้
                        </p>
                        <p _ngcontent-ntd-c51="">
                            <b _ngcontent-ntd-c51=""
                                >10. ความรับผิดชอบของบริษัทฯ</b
                            >
                        </p>
                        <p _ngcontent-ntd-c51="">
                            &nbsp;&nbsp;&nbsp;&nbsp;ความรับผิดชอบใดๆ ที่บริษัทฯ
                            จะมีต่อคุณนั้นจะเป็นไปตามที่กำหนดสัญญาระหว่างคุณกับบริษัทฯ
                            อย่างไรก็ตามในกรณีที่บริษัทฯ ต้องมีความรับผิดชอบใดๆ
                            ต่อคุณ ความรับผิดของบริษัทฯ
                            จะถูกจำกัดไว้ไม่เกินจำนวนเงินที่บริษัทฯ
                            ได้รับจริงจากคุณแล้วตามสัญญาระหว่างคุณกับบริษัทฯ
                        </p>
                        <p _ngcontent-ntd-c51="">
                            <b _ngcontent-ntd-c51=""
                                >11. กฎหมาย และขอบเขตอำนาจที่มีผลบังคับใช้</b
                            >
                        </p>
                        <p _ngcontent-ntd-c51="">
                            &nbsp;&nbsp;&nbsp;&nbsp;บริษัทฯ
                            ยอมรับข้อกำหนดการใช้บริการนี้ และข้อตกลง
                            หรือสัญญาใดๆ ระหว่างคุณกับบริษัทฯ ที่บังคับใช้
                            ซึ่งจะเป็นไปตามกฎหมายของราชอาณาจักรไทยทุกประการ
                            และข้อพิพาทใดๆ
                            จะพิจารณาโดยศาลสถิตย์ยุติธรรมของราชอาณาจักรไทยเท่านั้น
                        </p>
                        <p _ngcontent-ntd-c51="">
                            <b _ngcontent-ntd-c51=""
                                >12. การปรับเปลี่ยนข้อกำหนดการใช้บริการ</b
                            >
                        </p>
                        <p _ngcontent-ntd-c51="">
                            &nbsp;&nbsp;&nbsp;&nbsp;บริษัทฯ อาจปรับเปลี่ยน
                            และ/หรือเพิ่มเติมข้อกำหนดการใช้บริการนี้ได้ตลอดเวลา
                            ในกรณีนี้บริษัทฯ
                            จะแจ้งข้อกำหนดการใช้บริการฉบับใหม่ทางเว็ปไซต์ของบริษัทฯ
                            โดยไม่ชักช้า
                            และจะนำไปใช้กับลูกค้าทุกรายโดยอัตโนมัติซึ่งมีผลบังคับใช้ทันทีนับแต่ที่มีการประกาศ
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
